/* Base Styles - START ----------------------------------------------------- */
*,
*::before,
*::after {
    /* Setting values to 0 to get rid of automatic margin and padding */
    margin: 0;
    padding: 0;
    /* Border Box so width and height properties include entire box of content */
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --primary-color: #fc5d66;
    --secondary-color: #ffc05a;
    --light-color: #f9fafb;
    --dark-color: #272d35;
}

html,
body {
    font-family: "Open Sans", sans-serif; /* using Google font Open Sans */
    line-height: 1.6; /* Making line height of text content 60% larger than the text itself */
    scroll-behavior: smooth; /* scrolling smoothly when clicking a link to a different part of the page */
}

/* Getting rid of all the added text decoration and list styles that are automatic */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* setting base style of all images to be max width of 100% of parent element */
img {
    max-width: 100%;
}
/* Base Styles - END ----------------------------------------------------- */

/* Utility - START ----------------------------------------------------- */
.container {
    max-width: 1200px; /* content does not horizontally past 1200px */
    margin: 0 auto; /* margin auto on left and right to center */
    padding: 0 2rem; /* padding 2rem on left and right */
}

.container-sm {
    max-width: 1000px; /* content does not horizontally past 1000px */
    margin: 0 auto; /* margin auto on left and right to center */
    padding: 0 2rem; /* padding 2rem on left and right */
}

.btn {
    /* make the btn element an inline element but have the ability to style it like a block element */
    display: inline-block;
    padding: 1.3rem 2.3rem; /* 1.6rem padding on top and bottom, 2.6rem on left and right */
    border: 1px solid var(--secondary-color); /* making the border for each btn */
    border-radius: 32px; /* curve the edges of each btn */
    background: var(
        --secondary-color
    ); /* set the background color of each btn */
    color: var(--dark-color); /* set the color of the text of each btn */
    cursor: pointer; /* change the cursor to a pointer when we hover over each btn */
    transition: all 0.2s; /* setting a transition for each btn */
}

.btn:hover {
    background: var(
        --primary-color
    ); /* change to primary color when hovering over btn */
    color: #fff; /* change text color to white when hovering over btn */
    border-color: #fff; /* change border color to white when hovering over btn */
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.section {
    margin: 4rem 0; /* putting margin 4rem on top and bottom */
}

.section-header {
    max-width: 750px; /* does not expand past 750px */
    margin: 0 auto; /* 0 margin on top and bottom and center from the sides with auto */
    text-align: center; /* center the text */
    margin-bottom: 3rem; /* margin on bottom to separate from content below */
}

.section-header h2 {
    font-size: 2rem; /* making the font larger */
    font-weight: 700; /* making the font bolder */
    color: var(--dark-color); /* changing the font color */
    margin-bottom: 0.5rem; /* making separation from the h2 and p in the section header */
}

.section-header p {
    font-size: 1.3rem; /* increasing the size of the font */
    color: var(--dark-color); /* changing the font color */
}

.heading-border {
    width: 64px;
    height: 4px;
    background: var(--primary-color);
    margin: 0 auto 2rem; /* margin 0 top and 2rem on bottom and auto left and right */
}

.card {
    display: flex; /* making the card container a flex container */
    flex-direction: column; /* putting the content in column format - top to bottom */
    align-items: center; /* centering items on secondary (x) axis */
    justify-content: center; /* centering items on main (y) axis */
    text-align: center; /* centering the text in the container */
    padding: 2rem 1.75rem; /* 2rem padding on top and bottom and 1.75rem left and right */
    background: #fff; /* ensuring the background of every card is white */
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3); /* setting box shadow to lift it off the screen */
}
/* Utility - END ----------------------------------------------------- */

/* Home Page - START ----------------------------------------------------- */
/* Navbar - START ----------------------------------------------------- */
.navbar {
    background: transparent; /* background transparent so it blends in with the hero background color */
    color: white;
    padding: 1rem 2rem; /* 1rem padding top and bottom, 2rem padding left and right */
    position: fixed; /* navbar will always be in the same place on the screen even when scrolling */
    top: 0; /* placing the navbar at the very top of the screen */
    right: 0;
    left: 0;
    z-index: 1000; /* ensures that it always overlays over other content on the screen */
    transition: background-color 0.5s ease-in-out; /* for when we scroll - the background color will change */
}

.navbar.navbar-scroll {
    background-color: rgba(
        237,
        77,
        85,
        0.8
    ); /* color the navbar background will be when scrolling down the page */
    backdrop-filter: blur(10px); /* bluring just the background of the navbar */
}

.navbar-flex {
    display: flex; /* places the items in the navbar in a row format */
    justify-content: space-between; /* puts a gap between the logo and the nav items list */
    align-items: center; /* aligns the items on the secondary (y) axis */
}

.navbar img {
    /* Making the logo smaller to fit in the navbar */
    width: 81px;
    height: 32px;
}

.navbar .main-menu-list {
    display: flex; /* displays the list in the navbar as a row */
    align-items: center; /* align items on the secondary (y) axis */
    gap: 2rem; /* adds gap between elements in list */
    font-weight: 600; /* Makes the font a little bolder */
}

.navbar a {
    color: #fff; /* changing navbar links to white */
}

.navbar a:hover {
    color: var(
        --secondary-color
    ); /* change color when hovering over nav links */
}

.navbar i {
    font-size: 1.5rem; /* making the social media icons in the navbar bigger */
}
/* Navbar - END ----------------------------------------------------- */

/* Hero - START ----------------------------------------------------- */
.hero {
    background: #000 url("../images/header-background.jpg") center center/cover
        no-repeat; /* setting the hero background */
    padding: 11.5rem 2rem 8rem; /* padding 11.5rem on top, 8rem on the bottom and 2rem on the sides */
    color: #fff; /* text color is white */
    overflow-x: hidden; /* take out any scrollbar on the horizontal axis */
    position: relative;
}

.hero .hero-flex {
    display: flex; /* places the content in the class in a row format */
    justify-content: space-between; /* puts space between the content of the flex container */
    align-items: center; /* center the items in the flex container on the secondary axis */
    gap: 6rem; /* put 6rem worth of space between the items in the flex box */
    padding-bottom: 8rem; /* 8rem padding on the bottom */
}

.hero h1 {
    font-size: 3.5rem; /* Increase the size of the header text to 350% */
    line-height: 1.2; /* Make the line height 20% larger than the text itself */
    font-weight: 700; /* make the text bolder */
    margin-bottom: 1rem; /* Spacing the header text from the text below it */
}

.hero p {
    font-size: 1.2rem; /* makes the font size 20% larger than normal */
    margin-bottom: 2rem; /* spaces this element from it's sibling element below it */
    line-height: 1.8; /* increasing the height of the lines in the paragraph element */
    font-weight: 400; /* changing the weight of the font */
}

.hero img {
    width: 100%; /* making the width 100% of it's container */
    margin-right: -100px; /* pushing the image more towards the edge of the window */
}

.hero .frame-decoration {
    position: absolute; /* positioning our svg as absolute */
    bottom: 0; /* setting bottom and left to 0 to rest on edge of window */
    left: 0;
    width: 100%; /* setting width to 100% to stretch across the whole window */
    height: 100px; /* setting height to be 100px */
}
/* Hero - END ------------------------------------------------------- */

/* Mobile Menu - START ----------------------------------------------------- */
.mobile-menu {
    display: none; /* not displaying until being a smaller screen size - see media queries */
}

.navbar .mobile-menu-toggle {
    color: #fff; /* setting text color to white */
    cursor: pointer; /* see a pointer when hovering over */
}

.navbar .mobile-menu-items {
    position: absolute; /* so we can position it into the place we want it to be */
    top: 100%; /* 100% down from it's parent element */
    left: 0; /* starts from the very left side of the browser screen */
    width: 100%; /* 100% width of it's parent element */
    background: rgba(0, 0, 0, 0.8); /* background color */
    opacity: 0.95; /* making it a little more transparent */
    padding: 3rem 2rem; /* 3rem top and bottom padding, 2rem right and left */
    text-align: center; /* aligns the text to the center */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* adding a slight box-shadow */
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* adding a slight border to the top */
    transform: translateX(
        100%
    ); /* moving the mobile menu items off the screen to the right */
    transition: transform 0.3s ease; /* ease in transition for when we click the menu button */
}

.navbar .mobile-menu-items.active {
    transform: translateX(
        0
    ); /* moving the mobile menu items back to it's original place on the screen */
}

.navbar .mobile-menu-list {
    display: flex; /* displaying flex so we can tweak the format of the list */
    flex-direction: column; /* making the content into a column */
    gap: 2rem; /* setting a gap to separate the items a little bit */
    font-size: 1.2rem; /* making the font of the list items a little bigger */
}
/* Mobile Menu - END ----------------------------------------------------- */

/* Learn Topics - START ----------------------------------------------------- */
.topics {
    /* Making the grid for the topics section */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.topics img {
    transition: transform 0.3s; /* setting transition for hover effect to be smoother */
}

.topics img:hover {
    transform: scale(
        1.1
    ); /* hover effect to enlarge image when being hovered over */
}

.topic h3 {
    /* styling the caption per topic */
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0;
}
/* Learn Topics - END ----------------------------------------------------- */

/* Chapter Cards - START ----------------------------------------------------- */
.chapter-cards {
    display: grid; /* using a grid for the chapter cards */
    grid-template-columns: repeat(3, 1fr); /* making columns of 3 */
    gap: 2rem; /* 2rem gap between elements in the grid */
    padding: 1rem 0 4rem; /* padding 1rem on top and 4rem on bottom */
}

.chapter-cards img {
    width: 130px; /* making the card images smaller, to 130 px */
    margin-top: 1rem; /* putting a 1rem margin top */
}

.chapter-cards h3 {
    font-size: 1.25rem; /* increasing the size of the font */
    font-weight: 700; /* boldening the font */
    margin: 1rem 0; /* 1rem margin to the top and bottom */
}
/* Chapter Cards - END ----------------------------------------------------- */

/* Summary - START ----------------------------------------------------- */
.summary {
    background-color: var(
        --light-color
    ); /* set background color of section to light grey */
    color: var(--dark-color); /* setting the color of the text in section */
    padding: 4rem 2rem 5rem; /* 4rem padding on top, 2rem padding on sides, 5rem padding on bottom */
}

.summary .section-lists {
    background: #fff; /* setting the background to white */
    padding: 2rem; /* padding on all sides to 2rem */
}

.summary .list-header {
    background: var(
        --primary-color
    ); /* set background color to our primary color */
    color: #fff; /* setting color of text to white */
    padding: 0.5rem 1rem; /* setting padding top and bottom and left and right */
    font-size: 1.2rem; /* increasing the size of the font */
    font-weight: 700; /* making the weight of the font bolder */
    margin: 1rem 0; /* 1rem margin top and bottom and 0 left and right */
}

.summary .list-item {
    padding: 1.4rem 0; /* 1.4rem padding on top and bottom and 0 left and right */
    border-bottom: 1px solid #f1f4f6;
}

.summary .list-item:last-child {
    border-bottom: none;
}
/* Summary - END ----------------------------------------------------- */

/* Info Section - START ----------------------------------------------------- */
.info-container {
    /* set the background image for the info container */
    background: url(../images/audience.jpg) top center/cover no-repeat;
    display: flex; /* make the info container a flex box container */
}

.info-content {
    background-color: var(
        --primary-color
    ); /* set the background color to the primary color */
    color: #fff; /* set the text color of white */
    flex: 1; /* takes up the remainer of the space in the flex box */
    padding: 4rem; /* 4rem padding on all sides */
}

.info-content h2 {
    font-size: 2rem; /* making the size of the font larger */
    margin-bottom: 1rem; /* putting a margin on the bottom */
    font-weight: 700; /* making the text bolder */
}

.info-content p {
    font-size: 1.2rem; /* making the text larger */
    margin-bottom: 2rem; /* 2rem margin to the bottom */
}

.info-content ul li {
    font-size: 1.2rem; /* making the font size a little bit larger */
    line-height: 2; /* increasing the line height */
}

.info-content i {
    margin-right: 0.5rem; /* pushes the text over from the checks a little bit */
    color: var(--secondary-color); /* checks are the secondary color */
}

.info-left {
    width: 50%; /* giving the left div in the info container to 50% */
}
/* Info Section - END ----------------------------------------------------- */

/* Takeaways - START ----------------------------------------------------- */
.takeaways-cards {
    display: grid; /* making the takeaways card container a grid */
    grid-template-columns: repeat(3, 1fr); /* grid has 3 columns */
    gap: 2rem; /* 2rem space between the cards in the grid */
    padding: 1.5rem 0; /* 1.5rem padding on top and bottom */
}

.takeaways-cards .card {
    flex-direction: row; /* making the the content in each card a row format */
    text-align: left; /* aligning the text to the left */
}

.takeaways-cards .card i {
    margin-right: 1rem; /* adding a margin to the right of the icon */
}
/* Takeaways - END ----------------------------------------------------- */

/* Details - START ----------------------------------------------------- */
.details .details-flex {
    display: flex; /* make this a flex container */
    gap: 4rem; /* make a gap of 4rem between child elements */
    align-items: center; /* align items to the center on the secondary (y) axis */
    justify-content: center; /* justifying content to the center on the main (x) axis */
}

.details img {
    width: 100%;
    max-width: 500px; /* set the max-width for the image to 500px */
}

.details h2 {
    font-size: 2rem; /* increasing the font size */
    font-weight: 700; /* making it bolder */
    margin-bottom: 0.5rem; /* adding a margin bottom to the header */
}

.details .heading-border {
    margin: 0; /* taking the margin away */
}

.details p {
    margin: 1rem 0 2rem; /* 1rem margin on top, 2rem margin on bottom */
}

.details + .details .details-flex {
    flex-direction: row-reverse;
}

.details ul {
    margin-bottom: 2rem; /* 2rem margin on the bottom */
}

.details ul li {
    line-height: 2;
}

.details i {
    margin-right: 0.5rem;
}
/* Details - END ----------------------------------------------------- */

/* Stats - START ----------------------------------------------------- */
.stats {
    /* set background image for stats section */
    background: #000 url("../images/stats-background.jpg") center center/cover
        no-repeat;
    color: #fff; /* setting the text color to white */
}

.stats-flex {
    display: flex; /* place into a flex container */
    justify-content: space-between; /* to put space between flex items */
    align-items: center; /* centering items on the secondary (y) axis */
    padding: 4rem 2rem; /* 4rem padding on top and bottom and 2rem on sides */
}

.stats img {
    width: 100%;
    max-width: 500px; /* image does not go above 500px width */
}

.stats-content {
    max-width: 500px; /* sets max width to only 500px */
}

.stats .stats-numbers {
    display: flex; /* make stats numbers container into a flex container */
    gap: 2rem; /* adding space between items in the stats numbers container */
    margin: 2rem 0; /* 2rem spacing on top and bottom */
    text-align: center; /* aligns text to center */
    justify-content: center; /* centers content on main (x) axis */
    align-items: center; /* center items on secondary (y) axis */
    flex-wrap: wrap; /* wraps content */
}

.stats .stats-numbers h3 {
    font-size: 3rem; /* increasing size of font to 3rem */
    font-weight: 700; /* making the text bolder */
}

.stats .stats-numbers p {
    font-size: 0.8rem; /* making the text smaller */
}

.stats .stats-text {
    font-size: 1.2rem; /* increase the size of the text */
    margin-bottom: 2rem; /* 2rem margin on the bottom */
    text-align: center; /* aligns the text to the center */
}

.stats .btn {
    display: block; /* display as block level element */
    margin: 0 auto; /* center with margin on the sides */
    text-align: center; /* center the text */
    width: 200px; /* 200px width for the button */
}
/* Stats - END ----------------------------------------------------- */

/* Newsletter - START ----------------------------------------------------- */
.newsletter {
    text-align: center; /* align all text within this class to the center */
    margin: 0 2rem; /* 2rem margin on the left and right */
}

.newsletter-flex {
    display: flex; /* making this a flex container */
    gap: 1rem;
    flex-direction: column; /* formatting this flex container as a column */
    justify-content: center; /* center content on the main (x) axis */
    align-items: center; /* center content on the secondary (y) axis */
    background: var(
        --light-color
    ); /* set background color to the light color variable */
    border: 1px solid #eee; /* set the border of the newsletter flex box */
    padding: 4rem 2rem; /* 4rem padding top and bottom, 2rem padding left and right */
}

.newsletter h2 {
    font-size: 2rem; /* increasing the font size of the heading of this section */
    font-weight: 700; /* making the text a little bolder */
}

.newsletter p {
    max-width: 600px; /* limits the width to only go 600px wide */
}

.newsletter input[type="email"] {
    padding: 1rem 2rem; /* 1rem padding top and bottom, 2rem padding left and right */
    border: 1px solid #ccc; /* adding a light border to the email input box */
    border-radius: 32px; /* creates curved edges to the email input box */
    width: 100%; /* make the width of the email input box 100% */
    max-width: 400px; /* email input box cannot go beyond 400px wide */
    margin: 1rem 0; /* 1rem top and bottom to separate it from other elements */
}
/* Newsletter - END ----------------------------------------------------- */

/* Social - START ----------------------------------------------------- */
.social {
    background: var(--dark-color); /* setting the background color */
    color: #fff; /* setting the color oof the text */
    padding: 6rem 2rem; /* 6rem padding top and bottom, 2rem left and right */
    text-align: center; /* centering the text to the center */
    font-size: 1.7rem; /* increasing the font size */
    margin-bottom: 0; /* take away the margin on the bottom so it sits flush to the footer */
}

.social a {
    color: #fff; /* making the color of the social media icons white */
}

.social a:hover {
    color: var(--secondary-color);
}

.social p {
    margin-bottom: 2rem; /* separating the social media paragraph from the icons */
}

.social .social-icons {
    display: flex; /* make container holding the social media icons a flex container */
    justify-content: center; /* centering the content on the main (x) axis */
    gap: 1rem; /* putting small gap between the social media icons */
    margin-top: 2rem; /* giving a margin top to separate from the element from above */
}
/* Social - END ----------------------------------------------------- */

/* Footer - START ----------------------------------------------------- */
.footer {
    background: var(--dark-color); /* make background color dark */
    color: #fff; /* making the text color white */
    border-top: 1px solid #384653; /* adding border to separate it from the social section */
    padding: 0.5rem 2rem; /* 0.5rem padding on top and bottom, 2rem left and right */
}

.footer-flex {
    display: flex; /* make the content into a flex container */
    justify-content: space-between; /* space between each element on the main (x) axis */
    align-items: center; /* center elements on the secondary (y) axis */
}

.footer ul {
    display: flex; /* makes the ul into a flex container */
    justify-content: center; /* centers the content on the main (x) axis */
    gap: 1rem; /* adding gap to separate the li items a little bit*/
    margin: 2rem 0; /* 2rem margin on top and bottom */
}

.footer a {
    color: #fff; /* set the text color to white for the footer links */
}

.footer a:hover {
    color: var(--secondary-color);
}
/* Footer - END ----------------------------------------------------- */
/* Home Page - END ----------------------------------------------------- */

/* Contact Page - START ----------------------------------------------------- */
/* Inner Header - START ----------------------------------------------------- */
.inner-header {
    background: var(--primary-color); /* background color change */
    color: #fff; /* changing text color to white */
    height: 250px; /* increasing the height of the section */
    padding-top: 8rem; /* add 8rem padding top */
}

.inner-header h1 {
    font-size: 2.5rem; /* increasing size of the font */
    font-weight: 700; /* making the text a little bolder */
    margin-bottom: 1rem; /* 1rem margin on the bottom */
}
/* Inner Header - END ----------------------------------------------------- */

/* Contact Form - START ----------------------------------------------------- */
.contact-form p {
    margin-bottom: 3rem;
}

.contact-form input,
.contact-form textarea {
    font-family: inherit; /* inherits font family from it's parent elements */
    font-size: medium;
    display: block; /* puts the elements on their own line */
    width: 100%; /* makes width 100% of it's container */
    margin: 1.5rem 0; /* 1.5rem margin on top and bottom */
    border: 1px solid #ccc; /* make a light grey border */
    padding: 1.2rem 1rem; /* 1.2rem padding top and bottom, 1rem padding left and right */
}

.contact-form textarea {
    height: 200px; /* increase the size of the text area box */
}

.contact-form .btn {
    display: block; /* make the button a block level element */
    width: 100%; /* width 100% of it's container */
    font-size: inherit; /* inerit font size from it's parent element */
    font-family: inherit;
    margin: 0 auto; /* center button horizontally */
}
/* Contact Form - END ----------------------------------------------------- */

/* Location - START ----------------------------------------------------- */
.location h2 {
    font-size: 2rem; /* increasing the size of the heading */
    font-weight: 700; /* making the heading bolder */
    margin-bottom: 1rem; /* adding a margin to the bottom */
}

.location p {
    margin-bottom: 2rem;
}

.location .map {
    overflow: hidden;
    position: relative;
    height: 0;
    margin-bottom: 3rem;
    padding-bottom: 50%;
    border-radius: 0.25rem;
}

.location .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/* Location - END ----------------------------------------------------- */
/* Contact Page - END ----------------------------------------------------- */

/* Media Queries - START ----------------------------------------------------- */
@media (max-width: 1200px) {
    .hero .hero-flex {
        gap: 2rem; /* lower the gap between items to fit smaller screen */
    }

    .hero img {
        max-width: 500px; /* makes image smaller for smaller screen */
        margin-right: 0; /* takes margin away so image fits in screen */
    }

    .hero h1 {
        font-size: 3rem; /* makes text size smaller for smaller screen */
    }

    .topics {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .hero {
        text-align: center; /* center the text to look better on smaller screens */
    }

    .hero .hero-flex {
        flex-direction: column; /* put content into column format to look better on smaller screens */
        padding-bottom: 4rem; /* shortens the padding bottom */
    }

    .hero img {
        max-width: 600px; /* setting image to certain size based on screen size */
        margin-top: 2rem; /* 2rem margin top to space between the image and the element above it */
    }

    .topics {
        grid-template-columns: repeat(
            2,
            1fr
        ); /* make it to columns for smaller screens */
    }

    .chapter-cards,
    .takeaways-cards {
        grid-template-columns: 1fr; /* stack the cards into one columns for smaller screens */
    }

    .details-flex,
    .details + .details .details-flex,
    .stats .stats-flex {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .main-menu-items,
    .info-left {
        display: none; /* makes the desktop nav items disappear so the mobile one can be used */
    }

    .navbar .mobile-menu {
        display: block; /* displays the mobile menu */
    }

    .navbar .mobile-menu-toggle {
        display: block; /* displays the hamburger menu */
        padding: 10px; /* sets the padding on all sides to 10px */
    }

    .info-container {
        flex-direction: column; /* making the direction a column for smaller screens */
    }

    .info-content {
        padding: 2rem; /* decreasing the padding for the info content */
    }

    .info-content h2 {
        font-size: 1.5rem; /* making font size smaller for the info header */
    }

    .info-content p {
        font-size: 1rem; /* making sont size smaller for info paragraph text */
    }

    .social .social-icons {
        flex-wrap: wrap; /* wrap content if screen gets too small */
    }

    .footer {
        padding: 0.5rem 1rem; /* lighten up the padding on the right and left for smaller screens */
    }

    .social p {
        font-size: 1.2rem; /* changing the font size to be smaller for smaller screens */
    }

    .social i {
        font-size: 2.5rem;
    }

    .footer-flex {
        flex-direction: column; /* column format for smaller screens */
        text-align: center; /* center the text */
    }
}

@media (max-width: 576px) {
    .hero {
        padding-right: 0.5rem; /* decreasing padding on right and left for smaller screens */
        padding-left: 0.5rem;
    }

    .hero h1 {
        font-size: 2.5rem; /* decreasing font size for smaller screens */
    }

    .hero img {
        max-width: 350px; /* decreasing image size for smaller screens */
    }

    .topics {
        grid-template-columns: 1fr;
    }

    .summary .container {
        padding: 0; /* eliminates padding for small screens to be more readable */
    }

    .stats .stats-numbers {
        flex-direction: column;
    }

    .newsletter h2 {
        font-size: 1.5rem; /* makes the font size a little smaller for newsletter section heading */
    }

    .newsletter p {
        display: none; /* hide the paragraph in the newsletter section for better design */
    }
}
/* Media Queries - END ----------------------------------------------------- */
